<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Examples"
            id="org.swtchart.examples">
      </category>
      <view
            name="SWT Chart Sample View"
            icon="icons/swtchart.gif"
            category="org.swtchart.examples"
            class="org.swtchart.examples.ext.InteractiveChartExample"
            id="org.swtchart.examples.ext.InteractiveChartExample">
      </view>
   </extension>
</plugin>
